<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2KxxDwjC5dClH184h-bRVUDfrLU48T9c</string>
	<key>GCM_SENDER_ID</key>
	<string>188630836015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naeemsani95.rihlah</string>
	<key>PROJECT_ID</key>
	<string>musollah-15cfe</string>
	<key>STORAGE_BUCKET</key>
	<string>musollah-15cfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188630836015:ios:f8f87813d388d700e0b7da</string>
	<key>DATABASE_URL</key>
	<string>https://musollah-15cfe-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>